<div class="row">
    <div class="col s12">
        <div class="card z-depth-4">
            <div class="card-content" style="padding: 30px 40px">
                <form id="new-account" action="/user/new" method="post">
                <!-- <form id="new-account"> -->
                    <div class="row">
                        <h5 class="center-align">Add Customer</h5>
                        <!-- Row (only one used so that columns stack properly on mobile screens) -->
                        <div class="row" style="margin-top: 20px">
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">group</i>
                                <input id="party_name" type="text" class="validate" required="required" name="party_name">
                                <label for="party_name">*Party Name</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">group</i>
                                <input id="party_size" type="number" class="validate" required="required" name="party_size">
                                <label for="party_size">*Party Size</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">phone</i>
                                <input id="phone_number" type="tel" class="validate" required="required" name="phone_number">
                                <label for="phone_number">*Telephone</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">event</i>
                                <select multiple>
                                    <option value="" disabled selected>Choose one or more occasion.</option>
                                    <option value="Birthday">Birthday</option>
                                    <option value="Wedding Anniversary">Wedding Anniversary</option>
                                    <option value="Family Gathering">Family Gathering</option>
                                    <option value="Other">Other</option>
                                </select>
                                <label for="last_name">*Occasion</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="first_name" type="text" class="validate" required="required" name="first_name">
                                <label for="first_name">*First Name</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="last_name" type="text" class="validate" name="last_name">
                                <label for="last_name">Last Name</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input id="email-new" type="email" class="validate" required="required" name="email">
                                <label for="email">Email</label>
                            </div>
                        </div> <!-- end of row -->
                    </div>
                </form>
            </div> <!-- end of card-content -->
        </div> <!-- end of card -->
    </div> <!-- end of col -->
</div> <!-- end of row -->