<div class="row">
    <div class="col s12 m8 offset-m1 l7 offset-l1">
        <div class="card z-depth-4">
            <div class="card-content">
                <div class="card z-depth-2">
                    <div class="card-content black-text center-align">
                        <!-- <span class="card-title">Current Reservation</span>
                        <div class="card-action center">
                            <ul>
                            {{#each testtables}} 
                                <div>
                                <li>
                                    <div>
                                        {{this.first_name}}
                                        {{this.last_name}}
                                    </div>                      
                                </li>
                                </div>
                            {{/each}}
                            </ul>
                        </div> end of card-action -->

                        <!-- <h4>Current Reservations</h4> -->
                        <span class="card-title">Current Reservation</span>
                            <table class="striped bordered">
                            {{#each testtables}}
                                    <thead>
                                      <tr><th>Name</th><th># Party</th><th>Est. Wait Time</th></tr>
                                    </thead>

                                     <tbody>
                                        <tr><td>{{first_name}} {{last_name}}</td><td>5</td><td>15</td></tr>
                                        <tr><td>Rahul Sharma</td><td>3</td><td>8</td></tr>
                                        <tr><td>Mohan Sood</td><td>2</td><td>6</td></tr>
                                     </tbody>
                            {{/each}}
                            </table>
                    </div> <!-- end of card-content -->
                </div> <!-- end of card -->
            <!--     <div class="card z-depth-2"> -->
                    <!-- <div class="card-content black-text center-align">
                        <span class="card-title">Title</span>
                        <div class="card-action center">
                            Some action -->
                        </div> <!-- end of card-action -->
                    </div> <!-- end of card-content -->
                </div> <!-- end of card -->
            </div> <!-- end of card-content -->
        </div> <!-- end of card -->
    </div> <!-- end of col -->
</div> <!-- end of row -->