<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card z-depth-4">
            <div class="card-content">
                {{#if customers}}
                <ul class="collection">
                    {{#each customers}}
                    <li class="collection-item dismissable">
                        <div class="row">
                            <div class="col s2">
                                <a class="btn-floating"><i class="material-icons">phonelink_ring</i></a>
                            </div>
                            <div class="col s4">
                                <p>Party: <b>{{this.party_name}}</b></p>
                                <p>Party Size: <b>{{this.party_size}}</b></p>
                                <p><i>{{this.createdAt}}</i></p>
                            </div>
                            <div class="col s2">
                                <a class="btn-floating"><i class="material-icons">edit</i></a>
                            </div>
                            <div class="col s2">
                                <a class="btn-floating"><i class="material-icons">close</i></a>
                            </div>
                            <div class="col s2">
                                <a class="btn-floating"><i class="material-icons">check_box_outline_blank</i></a>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                    <div class="center"><a class="btn-large center" href="/addcustomer">ADD CUSTOMER</a></div>
                </ul>
                {{else}}
                <div class="center"><a class="btn-large center" href="/addcustomer">Add Your First Customer!</a></div>
                {{/if}}
            </div> <!-- end of card-content -->
        </div> <!-- end of card -->
    </div> <!-- end of col -->
</div> <!-- end of row -->