<div class="row">
    <div class="col s12 m8 offset-m1 l7 offset-l1">
        <div class="card z-depth-4">
            <div class="card-content">
                <div class="card z-depth-2">
                    <div class="card-content black-text center-align">
                        <span class="card-title">Title</span>
                        <div class="card-action center">
                            Some action
                        </div> <!-- end of card-action -->
                    </div> <!-- end of card-content -->
                </div> <!-- end of card -->
                <div class="card z-depth-2">
                    <div class="card-content black-text center-align">
                        <span class="card-title">Title</span>
                        <div class="card-action center">
                            Some action
                        </div> <!-- end of card-action -->
                    </div> <!-- end of card-content -->
                </div> <!-- end of card -->
            </div> <!-- end of card-content -->
        </div> <!-- end of card -->
    </div> <!-- end of col -->
</div> <!-- end of row -->