<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wait Time</title>
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Links -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Kaushan+Script|Shadows+Into+Light" rel="stylesheet">
    <!-- Style Sheets: Materialize Framework, Custom Style Sheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">
    <!-- Javascript Link (for?) -->
    <script src="https://use.fontawesome.com/556453154e.js"></script>
</head>
<body>
    
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="https://www.linkedin.com/in/michael-tolmie-83527537/">Michael</a></li>
        <li><a href="https://www.linkedin.com/in/john-silkey-jr/">John</a></li>
        <li><a href="https://www.linkedin.com/in/tarmin-sidharta/">Tarmin</a></li>

    </ul>
    <nav>
       <div class="nav-wrapper">
            <div id="logo"> <img src="brand.png">
                <ul class="right hide-on-down">
                    <li><a class="dropdown-button" href="#" data-activates="dropdown1"><i class="material-icons left">perm_identity</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div id="overflow" class="col s12 m3 l3 follow">
                <div class="card">
                    <div id="bar" class="card-content">
                        <div id="h1">Tables Available</div>
                        <div class="card">
                            <div class="card-content black-text">
                                <span class="card-title">Estimated Wait Time</span>
                                <div class="input-group">
                                    <span class="input-group-btn">
      <a id="ingredientAdd" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
      </span>
                                    <input id="ingredientInput" type="text" class="form-control" placeholder="Enter your table preference">
                                </div>
                            </div>
                        </div>
                        <div id="h2">Wait Time</div>
                        <div class="card">
                            <div class="card-content black-text">
                                <center>
                                    <div>Inside or Outside?</div>
                                </center>
                                <ul id="ingredientList">
                                </ul>
                                <div class="card-action center">
                                    <button id="recipeButton" class="btn waves-effect waves-light blue" type="submit" name="action">Your Wait Time
                                        <i class="material-icons right"></i>
                                    </button>
                                </div>
                                <div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>
                </div>
              
            </div>
        </div>
    </div>
    
    <!-- JavaScript Links: jquery, materialize, custom -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>