
<div class="row">
    <div class="col s12 m6 l4 follow ">
        <div class="card z-depth-4">
            <div class="card-content">
                <div>Tables Available</div>
                <div class="card z-depth-2">
                    <div class="card-content black-text">
                        <span class="card-title">Estimated Wait Time</span>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
                            </span>
                            <input type="text" class="form-control" placeholder="Enter your table preference">
                        </div> <!-- end of input-group -->
                    </div> <!-- end of card-content -->
                </div> <!-- end of card -->
                <div>Wait Time</div>
                <div class="card z-depth-2">
                    <div class="card-content black-text">
                        <center>
                            <div>Inside or Outside?</div>
                        </center>
                        <div class="card-action center">
                            <!-- ?? -->
                            <button class="btn waves-effect waves-light blue" type="submit" name="action">Your Wait Time
                                <!-- ?? -->
                                <i class="material-icons right"></i>
                            </button>
                        </div> <!-- end of card-action -->
                    </div> <!-- end of card-content -->
                </div> <!-- end of card -->
            </div> <!-- end of card-content -->
        </div> <!-- end of card -->
    </div> <!-- end of col -->
</div> <!-- end of row -->