<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Kaushan+Script|Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script src="https://use.fontawesome.com/556453154e.js"></script>
    <meta charset="UTF-8">
    <title>Wait Time</title>
</head>

<body>
    
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="https://www.linkedin.com/in/michael-tolmie-83527537/">Michael</a></li>
        <li><a href="https://www.linkedin.com/in/john-silkey-jr/">John</a></li>
        <li><a href="https://www.linkedin.com/in/tarmin-sidharta/">Tarmin</a></li>

    </ul>
    <nav>
        <div class="nav-wrapper">
                <ul class="right hide-on-down">
                    <li><a class="dropdown-button" href="#" data-activates="dropdown1"><i class="material-icons left">perm_identity</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div id="overflow" class="col s12 m3 l3 follow">
                <div class="card">
                    <div id="bar" class="card-content">
                        <div id="h1">Tables Available</div>
                        <div class="card">
                            <div class="card-content black-text">
                                <span class="card-title">Estimated Wait Time</span>
                                <div class="input-group">
                                    <span class="input-group-btn">
      <a id="ingredientAdd" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">add</i></a>
      </span>
                                    <input id="ingredientInput" type="text" class="form-control" placeholder="Enter your table preference">
                                </div>
                            </div>
                        </div>
                        <div id="h2">Possible wait time</div>
                        <div class="card">
                            <div class="card-content black-text">
                                <center>
                                    <div>Inside or Outside</div>
                                </center>
                                <ul id="ingredientList">
                                </ul>
                                <div class="card-action center">
                                    <button id="recipeButton" class="btn waves-effect waves-light green" type="submit" name="action">Your Wait Time
                                        <i class="material-icons right"></i>
                                    </button>
                                </div>
                                <div>
                                    <!-- <center> <a id="resetButton" href="#">New Search</a></center> -->
                                    <p><a href="map.html" target="_blank" class="btn-floating btn-small waves-effect waves-light green tooltipped" data-position="left" data-delay="50" data-tooltip="Grocery Stores Nearby!"><i class="material-icons">location_on</i></a><a id="resetButton" class="btn-floating btn-small waves-effect waves-light green tooltipped" data-position="right" data-delay="50" data-tooltip="Clear Search""><i class="material-icons">replay</i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           
            </div>
                </div>
              
            </div>
        </div>
    </div>
    <!-- JavaScript Links: jquery, materialize, custom -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>