
<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2">
        <div class="card z-depth-4" style="margin: 100px 0">
            <div class="card-content orange lighten-4">
                <div class="card-content black-text center-align">
                    <h2 class="card-title" style="font-size: 2em">Welcome to You-Queue</span>
                </div> <!-- end of card-content -->
                <div class="card-action center-align">
                    <a class="btn btn-flat modal-trigger waves-effect waves-light" data-target="signin-modal">SIGN IN</a>
                    <a class="btn btn-flat modal-trigger waves-effect waves-light" data-target="newuser-modal">NEW USER</a>
                </div>
            </div> <!-- end of card-content -->
        </div> <!-- end of card -->
    </div> <!-- end of col -->
</div> <!-- end of row -->

<!-- Sign In Modal -->
<div class="modal" id="signin-modal">
    <!-- Exit button -->
    <a href="#!" class="modal-action modal-close waves-effect btn-flat right" style="top: 10px; right: 10px">
        <i class="material-icons">close</i>
    </a>
    <!-- Sign In Form -->
    <!-- <form id="sign-in"> -->
    <form id="sign-in" action="/user/signin" method="post">
        <div class="modal-content">
            <h5>Sign In</h5>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email-existing" type="email" class="validate" required="required" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">security</i>
                    <input id="password-existing" type="password" class="validate" required="required" name="password">
                    <label for="password">Password</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-flat waves-effect waves-light" type="submit">Submit</button>
            <!-- <input type="submit"> -->
        </div>
    </form>     
</div> <!-- end of signin-modal -->

<!-- New User Modal -->
<div class="modal modal-fixed-footer" id="newuser-modal">
    <!-- Exit button -->
    <a href="#!" class="modal-action modal-close waves-effect btn-flat right" style="top: 10px; right: 10px">
        <i class="material-icons">close</i>
    </a>
    <!-- Create New Account Form -->
    <form id="new-account" action="/user/new" method="post">
    <!-- <form id="new-account"> -->
        <div class="modal-content">
            <h5>Create New Account</h5>
            <!-- Row (only one used so that columns stack properly on mobile screens) -->
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="first_name" type="text" class="validate" required="required" name="first_name">
                    <label for="first_name">*First Name</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="last_name" type="text" class="validate" required="required" name="last_name">
                    <label for="last_name">*Last Name</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">business</i>
                    <input id="company_name" type="text" class="validate" name="company_name">
                    <label for="company_name">Company Name</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">phone</i>
                    <input id="phone_number" type="tel" class="validate" name="phone_number">
                    <label for="phone_number">Telephone</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email-new" type="email" class="validate" required="required" name="email">
                    <label for="email">*Email</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">security</i>
                    <input id="password-new" type="password" class="validate" required="required" name="password">
                    <label for="password">*Password</label>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of modal content -->
        <div class="modal-footer">
            <p class="left" style="margin-left: 10px"><i>*Required Fields</i></p>
            <button class="btn btn-flat waves-effect waves-light" type="submit">Submit</button>
        </div>
    </form>
</div> <!-- end of newuser-modal -->